<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.spring.calla.AlarmMapper">

	<select id="select" resultType="AlarmVO">
		select *
		from ${alarm}
		where ${memberNickname} = #{memberNickname}
		order by ${alarmChecked} desc, ${alarmCreatedDate} desc
	</select>
	  
	<insert id="insert">
	 	insert into ${alarm}
	 	(${memberNickname}, ${alarmCode}, ${alarmPrefix}, ${content}, ${sendNickname}, ${title}, ${boardId}) 
	 	values 
	 	(#{memberNickname}, #{alarmCode}, #{alarmPrefix}, #{content}, #{sendNickname}, #{title}, #{boardId})
	</insert>  
	
	<update id="update">
		update ${alarm}
		set ${alarmChecked} = 'o'
		where ${alarmId} = #{alarmId}
	</update>
	
	<select id="check" resultType="Integer">
		select count(*)
		from ${alarm}
		where ${memberNickname} = #{memberNickname} and ${alarmChecked} = 'x'
	</select>
	
	<delete id="delete">
		delete from ${alarm}
		where ${alarmId} = #{alarmId}
	</delete>
</mapper>

