<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.spring.calla.FreeBoardReplyMapper">

	<insert id="insert">
		insert into ${f_board_reply}
		(${fBoardCommentId}, ${memberNickname}, ${fBoardReplyContent})
		values (#{fBoardCommentId}, #{memberNickname}, #{fBoardReplyContent})
	</insert>
	
	<select id="select_all_by_board_comment_id" resultType="FBoardReplyVO">
		select * from ${f_board_reply}
		where ${fBoardCommentId} = #{fBoardCommentId}
		order by ${fBoardReplyCreatedDate} desc
	</select>

	<update id="update">
		update ${f_board_reply}
		set ${fBoardReplyContent} = #{fBoardReplyContent}
		where ${fBoardReplyId} = #{fBoardReplyId}
	</update> 	
	
	<delete id="delete">
		delete from ${f_board_reply}
		where ${fBoardReplyId} = #{fBoardReplyId}
	</delete>

	 
</mapper>