<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.spring.calla.ProductImageMapper">
	
	<insert id="insert">
	    INSERT INTO ${product_image} (product_id, product_image_path)
	    VALUES (#{productId}, #{productImagePath})
	</insert>
	
	<select id="select_by_product_image_id" resultType="ProductImageVO">
		select * from ${product_image}
		where ${productImageId} = #{productImageId}
	</select>
	
	<update id="update">
		update ${product_image}
		set ${productImagePath} = #{productImagePath}
		where ${productImageId} = #{productImageId}
	</update>
	
	<delete id="delete">
		delete from ${product_image}
		where ${productId} = #{productId}
	</delete>
	
	
</mapper>