<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.spring.calla.ProductReplyMapper">
	
	<insert id="insert">
		insert into ${product_reply}
		(${productCommentId}, ${memberNickname}, ${productReplyContent})
		values (#{productCommentId}, #{memberNickname}, #{productReplyContent})
	</insert>
	
	<select id="select_all_by_product_comment_id" resultType="ProductReplyVO">
		select * from ${product_reply}
		where ${productCommentId} = #{productCommentId}
		order by ${productReplyId}
	</select>
	
	<update id="update">
		update ${product_reply}
		set ${productReplyContent} = #{productReplyContent}
		where ${productReplyId} = #{productReplyId}
	</update>
	
	<delete id="delete">
		delete from ${product_reply}
		where ${productReplyId} = #{productReplyId}
	</delete>

</mapper>
