<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.spring.calla.Uproductcommentmapper">

	<insert id="insert">
		insert into ${u_product_comment}
		(${uProductId}, ${memberNickname}, ${uProductCommentContent}, ${uProductSecretComment})
		values (#{uProductId}, #{memberNickname}, #{uProductCommentContent}, #{uProductSecretComment})
	</insert>
	
	<select id="select_all_by_board_id" resultType="UproductCommentVO">
		select * from ${u_product_comment}
		where ${uProductId} = #{uProductId}
		order by ${uProductCommentId}
	</select>
	
	<select id="select_by_uproduct_id" resultType="UproductCommentVO">
		select * from
		${u_product_comment} where ${uProductCommentId} = #{uProductCommentId}
	</select>
	
	<select id="select_by_uproduct_comment_id" resultType="UproductCommentVO">
		select * from
		${u_product_comment} where ${uProductId} = #{uProductId}
	</select>

	<update id="update">
		update ${u_product_comment}
		set ${uProductCommentContent} = #{uProductCommentContent}
		where ${uProductCommentId} = #{uProductCommentId}
	</update> 	
	
	<delete id="delete">
		delete from ${u_product_comment}
		where ${uProductCommentId} = #{uProductCommentId}
	</delete>

	<select id="select_by_memberNickname" resultType="UproductCommentVO">
	  	select * from ${u_product_comment} where ${memberNickname} = #{memberNickname}
	</select>	
	
	<select id="select_by_memberNickname_distinct" resultType="UproductCommentVO">

	  	select distinct ${memberNickname} from ${u_product_comment} where ${uProductId} = #{uProductId}
	  	
	</select>	
	
	
	
	
	

</mapper>