<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.spring.calla.UProductMapper">

	<insert id="insert">
		insert into ${u_product}
		(${memberNickname},
		${uProductName}, ${uProductPrice}, ${uProductCategori},
		${uProductImagePath}, ${uProductContent}, ${memberAddress})
		values
		(#{memberNickname}, #{uProductName}, #{uProductPrice},
		#{uProductCategori}, #{uProductImagePath}, #{uProductContent},
		#{memberAddress})
	</insert>
	<select id="select_all" resultType="UproductVO">
		select * from ${u_product}
		order by ${uProductId} desc
	</select>

	<select id="select_by_product_id" resultType="UproductVO">
		select * from
		${u_product} where ${uProductId} = #{uProductId}
	</select>

	<select id="select_by_u_product_name" resultType="UproductVO">
		select * from
		${u_product} where ${uProductName} = #{uProductName}
	</select>

	<update id="update">
		update ${u_product}
		set ${uProductName} =
		#{uProductName}, ${uProductPrice} = #{uProductPrice},
		${uProductCategori} = #{uProductCategori}, ${uProductImagePath} =
		#{uProductImagePath}, ${uProductContent} = #{uProductContent}
		where
		${uProductId} = #{uProductId}
	</update>
	<delete id="delete">
		delete from ${u_product}
		where ${uProductId} =
		#{uProductId}
	</delete>

	<select id="paging" resultType="UproductVO">
		select ${uProductId},
		${uProductName}, ${uProductPrice}, ${uProductViews}, ${uProductLikes},
		${uProductCreatedDate}, ${uProductCategori}, ${uProductImagePath},
		${uProductContent}, ${memberAddress}, ${memberNickname},
		${uProductCommentCount}
		from(
		select rownum rn, a.* from(
		select * from
		${u_product} order by ${uProductId} desc
		)a
		) where rn between #{start}
		and #{end}
	</select>

	<select id="total_count" resultType="Integer">
		select count(*) total_cnt
		from ${u_product}
	</select>

	<select id="select_by_product_name" resultType="UproductVO">
		select * from
		${u_product}
		where ${uProductName} like #{uProductName}
	</select>

	<select id="select_by_name" resultType="UproductVO">
		select * from
		${u_product}
		where ${uProductName} like #{keyword} or
		${uProductContent} like #{keyword}
		order by ${uProductId} desc
	</select>

	<update id="update_like_count">
		update ${u_product}
		set ${uProductLikes} = ${uProductLikes} + #{amount}
		where ${uProductId} = #{uProductId}
	</update>

	<update id="update_product_comment_count">
		update ${u_product}
		set ${uProductCommentCount} =
		${uProductCommentCount} + #{amount}
		where ${uProductId} = #{uProductId}
	</update>

	<select id="select_by_u_product_categori"
		resultType="UproductVO">
		select ${uProductId}, ${uProductName}, ${uProductPrice},
		${uProductViews},
		${uProductLikes}, ${uProductCreatedDate},
		${uProductCategori},
		${uProductImagePath}, ${uProductContent},
		${memberAddress},
		${memberNickname}, ${uProductCommentCount}
		from(
		select rownum rn, a.* from(
		select * from ${u_product}
		where
		${uProductName} like #{keyword} or
		${uProductCategori} like #{keyword}
		order by ${uProductId} desc
		)a
		) where rn between #{start} and #{end}

	</select>

	<select id="total_count_by_u_product_categori"
		resultType="Integer">
		select count(*) total_cnt from ${u_product}
		where
		${uProductName} like #{keyword} or ${uProductCategori} like
		#{keyword}
	</select>

	<select id="select_by_u_product_created_date"
		resultType="UproductVO">

		select ${uProductId}, ${uProductName}, ${uProductPrice},
		${uProductViews},
		${uProductLikes}, ${uProductCreatedDate},
		${uProductCategori},
		${uProductImagePath}, ${uProductContent},
		${memberAddress},
		${memberNickname}, ${uProductCommentCount}
		from(
		select rownum rn, a.* from(
		SELECT * FROM ${u_product}
		WHERE
		to_char(${uProductCreatedDate}, 'yy/mm/dd') > to_char(sysdate-2d,
		'yy/mm/dd')
		)a
		) where rn between #{start} and #{end}

	</select>

	<select id="total_count_by_u_product_created_date"
		resultType="Integer">
		select count(*) total_cnt from ${u_product}
		WHERE
		to_char(${uProductCreatedDate}, 'yy/mm/dd') > to_char(sysdate-2d,
		'yy/mm/dd')
	</select>

	<select id="select_by_u_product_Address" resultType="UproductVO">
		select
		${uProductId}, ${uProductName}, ${uProductPrice}, ${uProductViews},
		${uProductLikes}, ${uProductCreatedDate}, ${uProductCategori},
		${uProductImagePath}, ${uProductContent}, ${memberAddress},
		${memberNickname}, ${uProductCommentCount}
		from(
		select rownum rn, a.*
		from(
		select * from ${u_product}
		where ${memberAddress} like #{keyword}
		order by ${uProductId} desc
		)a
		) where rn between #{start} and #{end}

	</select>

	<select id="total_count_by_u_product_Address"
		resultType="Integer">
		select count(*) total_cnt from ${u_product}
		where
		${memberAddress} like #{keyword}
	</select>


	<select id="recommend_by_u_product_categori"
		resultType="UproductVO">
		SELECT *
		FROM ${u_product}
		WHERE ${uProductCategori} = #{uProductCategori}
		AND ${uProductId} != #{uProductId}
	</select>
	 
	 <select id="select_all_by_memberNickname" resultType="UProductVO">
	  	select * from ${u_product} where ${memberNickname} = #{memberNickname}
	 </select>
	 
	 
	 <select id="select_likes" resultType="UProductVO">
		select up.*, upl.${uProductLikeId}, upl.${uProductId}
		from ${u_product} up
		join ${u_product_like} upl on up.${uProductId} = upl.${uProductId}
		where upl.${memberId} = #{memberId} 
	</select>
	
	<select id="select_by_interest" resultType="UProductVO">
		SELECT * 
		FROM ${u_product} 
		WHERE ${uProductCategori} = #{interest}
	</select>
	
	<insert id="insert_recently_view">
		insert into ${u_product_recently_view}
		(${uProductId}, ${memberId})
		values (#{uProductId}, #{memberId})
	</insert>
	
	<select id="select_recently_view" resultType="UProductVO">
		select ${uProductId}, ${uProductName}, ${uProductPrice}, ${uProductImagePath}, ${uProductRecentlyViewId}
		from(
			select rownum rn, a.* from(
				select up.*, upr.${uProductRecentlyViewId}
				from ${u_product} up
				join ${u_product_recently_view} upr on up.${uProductId} = upr.${uProductId}
				where upr.${memberId} = #{memberId} order by ${uProductRecentlyViewDate} desc
			)a
		) where rn between #{start} and #{end}
	</select>

	<select id="get_total_counts_by_recently_view" resultType="Integer">
	  	select count(*) total_cnt
		from ${u_product} up
		join ${u_product_recently_view} upr on up.${uProductId} = upr.${uProductId}
		where upr.${memberId} = #{memberId}
	</select>
	
	<delete id="delete_recently_view">
		delete from ${u_product_recently_view}
		where ${uProductRecentlyViewId} = #{uProductRecentlyViewId}
	</delete>
	
	<delete id="delete_u_product_like">
		delete from ${u_product_recently_view}
		where ${uProductRecentlyViewId} = #{uProductRecentlyViewId}
	</delete>
	
	 <select id="select_buy_all_by_memberNickname" resultType="UProductBuyVO">
		select
		${uProductBuyId}, ${uProductName}, ${uProductPrice},
		${uProductCreatedDate}, ${uProductCategori},
		${uProductImagePath}, ${uProductContent}, ${memberAddress},
		${buyerNickname}
		from(
		select rownum rn, a.*
		from(
		select * from ${u_product_buy}
		where ${buyerNickname} = #{buyerNickname} 
		)a
		) where rn between #{start} and #{end}
	</select>
	
	<select id="total_count_by_u_product_buy"
		resultType="Integer">
		select count(*) total_cnt from ${u_product_buy}
		where ${buyerNickname} = #{buyerNickname}
	</select>
	
	<select id="select_sell_all_by_memberNickname" resultType="UProductSellVO">
		select
		${uProductSellId}, ${uProductName}, ${uProductPrice},
		${uProductCreatedDate}, ${uProductCategori},
		${uProductImagePath}, ${uProductContent}, ${memberAddress},
		${buyerNickname}, ${memberNickname}, ${uProductBuyId}
		from(
		select rownum rn, a.*
		from(
		select * from ${u_product_sell}
		where ${memberNickname} = #{memberNickname} 
		)a
		) where rn between #{start} and #{end}
	</select>
	  
	  <select id="total_count_by_u_product_sell"
		resultType="Integer">
		select count(*) total_cnt from ${u_product_sell}
		where ${memberNickname} = #{memberNickname}
	</select>
	 
	 	 
</mapper>











