<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- DB 테이블과 컬럼들을 mapper에 매핑하기 위한 변수 선언 -->
	<!-- 
	* property
	- name : mapper.xml에서 사용될 이름
	- value : DB 테이블 및 컬럼 이름
	 -->
	
	<properties>
		<property name="product" value="product"/>
		<property name="productId" value="product_id"/>
		<property name="productName" value="product_name"/>
		<property name="productPrice" value="product_price"/>
		<property name="productViews" value="product_views"/>
		<property name="productLikes" value="product_likes"/>
		<property name="productCreatedDate" value="product_created_date"/>
		<property name="productCategori" value="product_categori"/>
		<property name="productImagePath" value="product_image_path"/>
		<property name="productContent" value="product_content"/>
		<property name="productCommentCount" value="product_comment_count"/>
	
		<property name="product_comment" value="product_comment"/>
		<property name="productCommentId" value="product_comment_Id"/>
		<property name="productId" value="product_id"/>
		<property name="memberNickname" value="member_nickname"/>
		<property name="productCommentContent" value="product_comment_content"/>
		<property name="productCommentCreatedDate" value="product_comment_created_date"/>
	</properties>
	
	<!-- underscore 명명법을 camel 명명법으로 변환 가능하도록 세팅 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- typeAliases : mapper.xml의 select 리턴 타입에 들어갈 클래스 경로를 설정 -->
	<typeAliases>
		<package name="project.spring.calla.domain"/>
	</typeAliases>
	
	
	
	
</configuration>