<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- DB 테이블과 컬럼들을 mapper에 매핑하기 위한 변수 선언 -->
	<!--
	* property
	- name : mapper.xml에서 사용될 이름
	- value : DB 테이블 및 컬럼 이름
	-->
	
	<properties>
		<property name="f_board" value="f_board"/>
		<property name="fBoardId" value="f_board_id"/>
		<property name="memberNickname" value="member_nickname"/>
		<property name="fBoardTitle" value="f_board_title"/>
		<property name="fBoardContent" value="f_board_content"/>
		<property name="fBoardCreatedDate" value="f_board_created_date"/>
		<property name="fBoardViews" value="f_board_views"/>
		<property name="fBoardCommentCount" value="f_board_comment_count"/>
		<property name="fBoardImagePath" value="f_board_image_path"/>
		
		<property name ="f_board_comment" value="f_board_comment"/>
		<property name ="fBoardCommentId" value="f_board_comment_id"/>
		<property name ="fBoardId" value="f_board_id"/>
		<property name ="memberNickname" value="member_nickname"/>
		<property name ="fBoardCommentContent" value="f_board_comment_content"/>
		<property name ="fBoardCommentCreatedDate" value="f_board_comment_created_date"/>
		
		<property name ="f_board_reply" value="f_board_reply"/>
		<property name ="fBoardReplyId" value="f_board_reply_id"/>
		<property name ="fBoardCommentId" value="f_board_comment_id"/>
		<property name ="memberNickname" value="member_nickname"/>
		<property name ="fBoardReplyContent" value="f_board_reply_content"/>
		<property name ="fBoardReplyCreatedDate" value="f_board_reply_created_date"/>
		
		<property name ="member" value="member"/>
		<property name ="memberId" value="member_id"/>
		<property name ="memberPw" value="member_pw"/>
		<property name ="memberName" value="member_name"/>
		<property name ="memberEmail" value="member_email"/>
		<property name ="memberPhone" value="member_phone"/>
		<property name ="memberJoinDate" value="member_join_date"/>
		<property name ="memberInterest" value="member_interest"/>
		<property name ="memberAddress" value="member_address"/>
		<property name ="memberNickname" value="member_nickname"/>
		<property name ="memberLevel" value="member_level"/>
		<property name ="memberManner" value="member_manner"/>
		

		<property name="u_product" value="u_product" />
		<property name="uProductId" value="u_product_id" />
		<property name="uProductName" value="u_product_name" />
		<property name="uProductPrice" value="u_product_price" />
		<property name="uProductViews" value="u_product_views" />
		<property name="uProductLikes" value="u_product_likes" />
		<property name="uProductCreatedDate" value="u_product_created_date" />
		<property name="uProductCategori" value="u_product_categori" />
		<property name="memberAddress" value="member_address" />
		<property name="uProductContent" value="u_product_content" />
		<property name="uProductImagePath" value="u_product_image_path" />
		<property name="uProductCommentCount" value="u_product_comment_count"/>
		<property name="uProductStatement" value="u_product_statement"/>
		
		<property name="u_product_comment" value="u_product_comment" />
		<property name="uProductCommentId" value="u_product_comment_id" />
		<property name="uProductId" value="u_product_id" />
		<property name="memberNickname" value="member_nickname" />
		<property name="uProductCommentContent" value="u_product_comment_content" />
		<property name="uProductCommentCreatedDate" value="u_product_comment_created_date" />
		<property name="uProductSecretComment" value="u_product_secret_comment"/>

		<property name="product" value="product"/>
		<property name="productId" value="product_id"/>
		<property name="productName" value="product_name"/>
		<property name="productPrice" value="product_price"/>
		<property name="productViews" value="product_views"/>
		<property name="productLikes" value="product_likes"/>
		<property name="productCreatedDate" value="product_created_date"/>
		<property name="productCategori" value="product_categori"/>
		<property name="productContent" value="product_content"/>
		<property name="productCommentCount" value="product_comment_count"/>
		<property name="memberLevel" value="member_level"/>
		<property name="productRatedCount" value="product_rated_count"/>
		<property name="productImagePath" value="product_image-path"/>
		
		<property name="product_comment" value="product_comment"/>
		<property name="productCommentId" value="product_comment_id"/>
		<property name="productId" value="product_id"/>
		<property name="memberNickname" value="member_nickname"/>
		<property name="productCommentContent" value="product_comment_content"/>
		<property name="productCommentCreatedDate" value="product_comment_created_date"/>
		<property name="productRated" value="product_rated"/>
		
		<property name="q_board" value="q_board"/>
		<property name="qBoardId" value="q_board_id"/>
		<property name="memberNickname" value="member_nickname"/>
		<property name="qBoardTitle" value="q_board_title"/>
		<property name="qBoardContent" value="q_board_content"/>
		<property name="qBoardCreatedDate" value="q_board_created_date"/>
		<property name="qBoardViews" value="q_board_views"/>
		<property name="qBoardCommentCount" value="q_board_comment_count"/>
		<property name="qBoardImagePath" value="q_board_image_path"/>
		<property name="qBoardStatus" value="q_board_status"/>
		
		<property name="q_board_comment" value="q_board_comment"/>
		<property name="qBoardCommentId" value="q_board_comment_id"/>
		<property name="qBoardId" value="q_board_id"/>
		<property name="memberNickname" value="member_nickname"/>
		<property name="qBoardCommentContent" value="q_board_comment_content"/>
		<property name="qBoardCommentCreatedDate" value="q_board_comment_Created_date"/>
		
		<property name ="q_board_reply" value="q_board_reply"/>
		<property name ="qBoardReplyId" value="q_board_reply_id"/>
		<property name ="qBoardCommentId" value="q_board_comment_id"/>
		<property name ="memberNickname" value="member_nickname"/>
		<property name ="qBoardReplyContent" value="q_board_reply_content"/>
		<property name ="qBoardReplyCreatedDate" value="q_board_reply_created_date"/>		
		
		<property name="product_reply" value="product_reply"/>
		<property name="productReplyId" value="product_reply_id"/>
		<property name="memberNickname" value="member_nickname"/>
		<property name="productCommentId" value="product_comment_id"/>
		<property name="productReplyContent" value="product_reply_content"/>
		<property name="productReplyCreatedDate" value="product_reply_created_date"/>
		
		<property name="product_like" value="product_like"/>
		<property name="productLikeId" value="product_like_id"/>
		<property name="productId" value="product_id"/>
		<property name="memberId" value="member_id"/>
		
		<property name="u_product_like" value="u_product_like"/>
		<property name="uProductLikeId" value="u_product_like_id"/>
		<property name="uProductId" value="u_product_id"/>
		<property name="memberId" value="member_id"/>
		
		<property name="product_order_list" value="product_order_list"/>
		<property name="productOrderListId" value="product_order_list_id"/>
		<property name="memberId" value="member_id"/>
		<property name="productId" value="product_id"/>
		<property name="productAmount" value="product_amount"/>
		
		<property name="product_recently_view" value="product_recently_view"/>
		<property name="productRecentlyViewId" value="product_recently_view_id"/>
		<property name="memberId" value="member_id"/>
		<property name="productId" value="product_id"/>
		<property name="productRecentlyViewDate" value="product_recently_view_date"/>
		
		<property name="u_product_recently_view" value="u_product_recently_view"/>
		<property name="uProductRecentlyViewId" value="u_product_recently_view_id"/>
		<property name="memberId" value="member_id"/>
		<property name="uProductId" value="u_product_id"/>
		<property name="uProductRecentlyViewDate" value="u_product_recently_view_date"/>
		
		<property name="product_order" value="product_order"/>
		<property name="memberId" value="member_id"/>
		<property name="productId" value="product_id"/>
		<property name="productName" value="product_name"/>
		<property name="productAmount" value="product_amount"/>
		<property name="productPrice" value="product_price"/>
		<property name="productOrderCreatedDate" value="product_order_created_date"/>
		<property name="memberCard" value="member_card"/>
		<property name="memberCardNumber" value="member_card_number"/>
		<property name="memberEmail" value="member_email"/>
		<property name="recipientName" value="recipient_name"/>
		<property name="memberAddress" value="member_address"/>
		<property name="productOrderId" value="product_order_id"/>
		<property name="productImagePath" value="product_image_path"/>
		<property name="deliveryStatus" value="delivery_status"/>
		
		<property name="u_product_buy" value="u_product_buy" />
		<property name="uProductBuyId" value="u_product_buy_id" />
		<property name="uProductName" value="u_product_name" />
		<property name="uProductPrice" value="u_product_price" />
		<property name="uProductCreatedDate" value="u_product_created_date" />
		<property name="uProductCategori" value="u_product_categori" />
		<property name="memberAddress" value="member_address" />
		<property name="uProductContent" value="u_product_content" />
		<property name ="memberNickname" value="member_nickname"/>
		<property name="uProductImagePath" value="u_product_image_path" />
		<property name ="sellerNickname" value="seller_nickname"/>
		<property name ="buyerNickname" value="buyer_nickname"/>
		
		<property name="u_product_sell" value="u_product_sell" />
		<property name="uProductSellId" value="u_product_sell_id" />
		<property name="uProductName" value="u_product_name" />
		<property name="uProductPrice" value="u_product_price" />
		<property name="uProductCreatedDate" value="u_product_created_date" />
		<property name="uProductCategori" value="u_product_categori" />
		<property name="memberAddress" value="member_address" />
		<property name ="sellerNickname" value="seller_nickname"/>
		<property name ="buyerNickname" value="buyer_nickname"/>
		<property name="uProductContent" value="u_product_content" />
		<property name="uProductImagePath" value="u_product_image_path" />
		<property name="uProductBuyId" value="u_product_buy_id" />
		
		<property name="u_product_review" value="u_product_review" />
		<property name="uProductReviewId" value="u_product_review_id" />
		<property name ="memberNickname" value="member_nickname"/>
		<property name="uProductReviewTitle" value="u_product_review_title" />
		<property name="uProductReviewCreatedDate" value="u_product_review_created_date" />
		<property name="uProductReviewContent" value="u_product_review_content" />
		
		<property name="alarm" value="alarm" />
		<property name="alarmId" value="alarm_id" />
		<property name="memberNickname" value="member_nickname" />
		<property name="alarmCode" value="alarm_code"/>
		<property name="alarmChecked" value="alarm_checked" />
		<property name="alarmCreatedDate" value="alarm_created_date" />
		<property name="alarmPrefix" value="alarm_prefix" />
		<property name="content" value="content" />
		<property name="sendNickname" value="send_nickname" />
		<property name="title" value="title" />
		<property name="boardId" value="board_id" />
		<property name="commentId" value="comment_id" />
		<property name="replyId" value="reply_id" />

		<property name="u_product_manner" value="u_product_manner" />
		<property name="uProductMannerId" value="u_product_manner_id" />
		<property name="uProductReviewId" value="u_product_review_id" />
		<property name ="memberNickname" value="member_nickname"/>
		<property name ="sellerNickname" value="seller_nickname"/>
		
		<property name="mail_authentication" value="mail_authentication"/>
		<property name="memberEmail" value="member_email"/>
		<property name="authenticationKey" value="authentication_key"/>
		<property name="authenticationStatus" value="authentication_status"/>
		
	</properties>
	
	<!-- underscore 명명법을 camel 명명법으로 변환 가능하도록 세팅 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
	</settings>

	
	<!--  typeAliases : mapper.xml의 select 리턴 타입에 들어갈 클래스 경로를 설정 -->
	<typeAliases>
		<package name="project.spring.calla.domain"/>
	</typeAliases>
</configuration>
